body {
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    display: grid;
    /*grid-template-columns: 25% 50% 25%;
    grid-template-rows: 300px 300px;
    grid-template: filas/columnas;*/
    grid-template: 300px 100px 100px / 50% 200px 100px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    /*filas columnas*/
    grid-gap: 10px 100px;


}
    

.item {
    background: lightblue;
    padding: 10px;
    border: lightcoral solid 1px;
}

.item:nth-of-type(4) {
    background-color: lightsalmon;
    overflow: auto;
    /*display: subgrid;*/
    /*discplay: inline grid*/
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px
}

.item .item {
    background-color: lightseagreen;
}